body {
  margin: 0;
  padding: 0;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  background: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* header */
header {
  height: 80px;
}

.header {
  padding: 25px 0;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%; */
  background: #888888;
}

.headerHako {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.fa-user {
  color: #000000;
}

.fa-shopping-cart {
  color: #000000;
}

.fa-home {
  color: #000000;
}

.snsBtn {
  display: flex;
  /* justify-content: center; */
}

.container {
  max-width: 940px;
  margin: 0 auto;
}
