* {
  box-sizing: border-box;
  color: #a59ea4;
  text-align: center;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  background: #f0dce2;
  text-align: center;
}

.janken {
  display: flex;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
}

#prayerImg {
  transform: scale(-1, 1);
}

.vs {
  display: flex;
  align-items: center;
}

.prayerJanken {
  overflow: hidden;
  /* width: 10%; */
  margin: 2em auto;
  text-align: center;
}

.prayerJanken select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.prayerJanken select::-ms-expand {
  display: none;
}

.prayerJanken.prayerJan {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}

.prayerJanken.prayerJan::before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

.prayerJanken.prayerJan select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}

.startButton {
  color: #ffffff;
  background: #c0c0c0;
  border-radius: 5%;
  padding: 10px 20px;
  margin-bottom: 20px;
}

img {
  width: 200px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}

.about p {
  /* display: inline; */
}

.result {
  padding: 20px 0;
  background: #f0dce2;
}
